@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Pontano+Sans');
html{
	background-color:#FCFFF5;
	font-family:'Pontano Sans',  Helvetica, Arial, "sans-serif?";
	color:#91AA9D;
}
header {
	background-color:#193441;
	padding: 30px;
}
#letterLogo{
	text-transform: lowercase;
	font-size: 3em;
	float: none;
	border-right: thin groove #FCFFF5;
	border-bottom: medium double #FCFFF5;
}
nav a{
	color:#FCFFF5;
	padding:0px 15px;
	float: right;
	text-decoration:none;
	text-transform:uppercase;
	font-size: .7em;
	background-color:#193441;
}

h1{
	color:#FF530D;
}
h2{
	text-align:right;
	Margin-right: 20px;
}

#skills{
	background-color:#91AA9D;
	color:#FCFFF5;
	height:10em;
	margin-bottom:10px;
	
}

.leftTxt{
	width:30%;
	text-transform:uppercase;
	letter-spacing:3.2px;
	padding-left:20px;
	float:left;
	margin-right:20px;
	padding-top:5.7px;
}

.rightTxt{
	width:50%;
	float:left;
}
ul{
	line-height:1.35em;
}



@media (max-width: 580px){
	.leftTxt, h1, h2, h3{font-size:95%}
}
