@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Pontano+Sans');
html{
	background-color:#FCFFF5;
	font-family:'Pontano Sans',  Helvetica, Arial, "sans-serif?";
	color:#91AA9D;
}

img{
	display:block;
	margin:auto;
	max-width: 100%;
	height:auto;
	padding:50px 0px;
}

header {
	background-color:#193441;
	padding: 30px;
	margin:0px;
}
#letterLogo{
	text-transform: lowercase;
	font-size: 3em;
	float: none;
	border-right: thin groove #FCFFF5;
	border-bottom: medium double #FCFFF5;
}
nav a{
	color:#FCFFF5;
	padding:0px 15px;
	float: right;
	text-decoration:none;
	text-transform:uppercase;
	font-size: .7em;
	background-color:#193441;
}
footer h3{
	background-color:#193441;
	padding: 10px;
	margin:0px;
	color: #FCFFF5;
	text-align:center;
	letter-spacing:3.2px;
	font-family:'Lato';
	font-weight:100;
}

.flexBoxGraphs{
	display:flex;
	justify-content:space-around;
	background-color: #D1DBBD;
	flex-wrap: wrap;
	padding:4em;
	margin:30px;
	
}
.graftImg{
	width:256px;
	height:256px
}
.flexBox{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px 25px 0px 30px;
	
}
.leftTxt{
	display:flex;
	text-transform:uppercase;
	letter-spacing:3.2px;
	width:400px;
	justify-content: flex-end;
	padding-right:5em;
}

.rightTxt{
	width:50em;
}

.rightTxt h2{
	color:#FF530D; 
	margin-bottom:2.7px;
}

.rightTxt h3{
	font-size:1em;
	font-family:'lato';
	text-transform:uppercase;
	margin-top:0px;
}

ul{
	line-height:1.35em;
}

.projectExamples{
	display:flex;
	width:40%;
	height: 30%;
	align-items:center;
	justify-content: space-between;
	margin:auto;
}
