@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Pontano+Sans');
html{
	background-color:#FCFFF5;
	font-family:'Pontano Sans',  Helvetica, Arial, "sans-serif?";
	font-size: 100%;
	color:#193441;
	text-align: center;
}

#intro p{
	max-width: 65%;
	margin:auto;
	line-height: 1.5em;
}
p{
	line-height: 1.5em;
}
a{
	color:#FCFFF5;
	padding-left:10px;
	text-decoration: none;
}
header {
	background-color:#193441;
	padding: 2em;
}
nav a{
	padding:0px 15px 10px 15px;
	float: center;
	text-transform:uppercase;
	font-size: .8em;
	background-color:#193441;
	
}
ul{
	line-height:1.35em;
	text-align: left;
}
button{
	border: 2px solid #FCFFF5;
	border-radius: 36px;
	background: #193441;
	color:#FCFFF5;
	font-size: 24px;
	padding: 10px;
	margin: 20px;
	width: 200px;
}
#imgFamily{
	padding: 2em;
	display: flex;
	align-items: center;
}
#bLogo {
	text-align: center;
	font-size: 1.3em;
	font-family: "lato";
	font-weight: 100;
	letter-spacing:10px;
	text-transform: uppercase;
	background-color: #193441;
	color: #FF530D;
	padding: 2.3em
}
#intro{
	background-color: #D1DBBD;
	padding: 6em;
}
#sponsorFlexbox{
	background-color:#D1DBBD;
	margin: 0px;
}
#flowVellaButton{
	align-self: center;
	padding: 4em;
}
#flowVellaButton button{
	background: #FCFFF5;
	border: 2px solid #D1DBBD;
	width:300px;
}
#flowVellaButton button a{
	color:#D1DBBD;
}
#gitHubFlexbox{
	background-color:#D1DBBD;
	margin: 0px;
	align-content: center;
}
#aboutTxt{
	width:50em;
	padding: 40px;
	border-left: solid;
	border-left-color: #FF530D;
}
#gitHubButton{
	color:#FCFFF5;
	background: #D1DBBD;
}
em{
	color:#FF530D;
	margin-right: 4px;
}
footer{
	background-color:#193441;
	padding: 100px 10px 100px 10px;
	margin:0px;
	color: #FCFFF5;
	text-align:center;
	letter-spacing:5px;
	font-size:1.5em;
}
.flexText{
	width: 45%;
	padding:4em;
	text-align: left;
}
.flexProject{
	align-self: center;
	padding: 4em;
	
}
.flexBoxGraphs{
	display:flex;
	justify-content:space-around;
	background-color: #D1DBBD;
	flex-wrap: wrap;
	padding:4em;
	margin:30px;
	
}
.graftImg{
	width:256px;
	height:256px
}
.flexBox{
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
	padding-bottom: 2em;
	padding-top:2em;
}
.leftTxt{
	display:flex;
	text-transform:uppercase;
	letter-spacing:3.2px;
	width:400px;
	justify-content: flex-end;
	padding-right:5em;
}
.rightTxt{
	width:50em;
	padding-left: 40px;
	margin: 0px 20px 40px 10px;
	border-left: solid;
	border-left-color: #FF530D;
}
.rightTxt h2{
	color:#FF530D; 
	margin-bottom:2.7px;
	text-align: left;
}
.rightTxt h3{
	font-size:1em;
	font-family:'lato';
	text-transform:uppercase;
	margin-top:0px;
	text-align: left;
}
.jobDescript{
	text-align: left;
}

